<!-- >> chart-angular-candlestick-series -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
  <DateTimeCategoricalAxis tkCartesianHorizontalAxis dateFormat="yyyy-MM-dd" verticalLocation="Bottom"></DateTimeCategoricalAxis>
  <LinearAxis tkCartesianVerticalAxis></LinearAxis>

  <CandlestickSeries tkCartesianSeries categoryProperty="Date" openPropertyName="Open" highPropertyName="High" lowPropertyName="Low"
    closePropertyName="Close" [items]="candleStickSourceItems"></CandlestickSeries>
</RadCartesianChart>
<!-- << chart-angular-candlestick-series -->