<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <LinearAxis tkCartesianVerticalAxis horizontalLocation="Right"></LinearAxis>
    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>

    <BarSeries tkCartesianSeries selectionMode="Series"
        [items]="bubbleCategoricalSource" categoryProperty="Country" valueProperty="Impact">
    </BarSeries>
    <!-- >> chart-angular-series-selection -->
    <LineSeries tkCartesianSeries selectionMode="Series" showLabels="true"
        [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount">
    </LineSeries>
    <!-- << chart-angular-series-selection -->Î
</RadCartesianChart>