<!-- >> chart-angular-pan-and-zoom -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>

    <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="SecondVal">
        <LinearAxis tkBarVerticalAxis horizontalLocation="Right" allowZoom="true" allowPan="false"></LinearAxis>
    </BarSeries>

    <LineSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount">
        <LinearAxis tkLineVerticalAxis horizontalLocation="Left" allowPan="false" allowZoom="true"></LinearAxis>
    </LineSeries>

    <CategoricalAxis tkCartesianHorizontalAxis allowPan="false" allowZoom="true"></CategoricalAxis>

</RadCartesianChart>
<!-- << chart-angular-pan-and-zoom -->