<!-- >> chart-angular-pan-and-zoom -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <BarSeries tkCartesianSeries seriesName="Bar" [items]="categoricalSource" [verticalAxis]="linearAxisZoomPan" stackMode="Stack"
        categoryProperty="Country" valueProperty="SecondVal"></BarSeries>
    <LineSeries tkCartesianSeries seriesName="Line" [items]="categoricalSource" [verticalAxis]="linearAxisZoom" stackMode="Stack"
        categoryProperty="Country" valueProperty="Amount"></LineSeries>

    <CategoricalAxis tkCartesianHorizontalAxis allowPan="true" allowZoom="true"></CategoricalAxis>
</RadCartesianChart>
<!-- << chart-angular-pan-and-zoom -->