<GridLayout rows="auto,*" columns="50,*,50" tkExampleTitle tkToggleNavButton>
	<Button text="<" [isEnabled]="canGoDown" (tap)="goDown()"></Button>
	<Label col="1" horizontalAlignment="center" verticalAlignment="center" fontSize="24" text="Champions League"></Label>
	<Button col="2" text=">" [isEnabled]="canGoUp" (tap)="goUp()"></Button>
	<RadDataForm #dataform row="1" colSpan="3" [source]="currentStat">
		<TKEntityProperty tkDataFormProperty name="season" index="0">
			<TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkDataFormProperty displayName="Champions" name="champion" index="1">
			<TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty displayName="Runners-up" name="runnerUp" index="2">
			<TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty displayName="Top goalscorers" name="scorers" index="3">
			<TKPropertyEditor tkEntityPropertyEditor type="Label"></TKPropertyEditor>
		</TKEntityProperty>
	</RadDataForm>
</GridLayout>
