<StackLayout tkExampleTitle tkToggleNavButton ios:backgroundColor="#CDCECE" padding="5">
    <Label text="Select countries:"></Label>
    <RadAutoCompleteTextView [items]="dataItems" suggestMode="Suggest" displayMode="Tokens" closeButtonImageSrc="res://clear">
        <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="horizontal" padding="5">
                    <Image [src]="item.image" width="50"></Image>
                    <Label [text]="item.text" marginLeft="5" android:marginTop="15"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
</StackLayout>