<GridLayout orientation="vertical" rows="*, auto">
    <RadCalendar id="calendar" row="0" [monthViewStyle]="monthViewStyle" [weekViewStyle]="weekViewStyle" 
                                       [monthNamesViewStyle]="monthNamesViewStyle" [yearViewStyle]="yearViewStyle"></RadCalendar>
    <StackLayout row="1">
		<Button text="Year view styling" (tap)="onYearTap()"></Button>
		<Button text="Month names view styling" (tap)="onMonthNamesTap()"></Button>
		<Button text="Month view styling" (tap)="onMonthTap()"></Button>
        <Button text="Week view styling" (tap)="onWeekTap()"></Button>
    </StackLayout>
</GridLayout>