<GridLayout orientation="vertical" rows="auto, *">
    <GridLayout rows="auto,70,70" backgroundColor="#f8f8f8" orientation="horizontal" row="0">
        <StackLayout orientation="horizontal" horizontalAlignment="center" row="0">
            <Button text="Select all" (tap)="onSelectAllTap()" class="selectAllButton"></Button>
            <Button text="Deselect all" (tap)="onDeselectAllTap()"></Button>
        </StackLayout>
        <StackLayout orientation="horizontal" row="1" horizontalAlignment="center">
            <Label text="Select item at:" verticalAlignment="center"></Label>
            <TextField [(ngModel)]="txtSelectItemIndex" class="selectItemTextField"></TextField>
            <Button (tap)="onSelectItemAtTap()" class="selectItemButton" text="Done"></Button>
        </StackLayout>
        <StackLayout orientation="horizontal" row="2" horizontalAlignment="center">
            <Label text="Deselect item at:" verticalAlignment="center"></Label>
            <TextField [(ngModel)]="txtDeselectItemIndex" class="selectItemTextField"></TextField>
            <Button (tap)="onDeselectItemAtTap()" text="Done" class="selectItemButton"></Button>
        </StackLayout>
    </GridLayout>
    <RadListView #myRadListView [items]="dataItems" row="1" id="listView" multipleSelection="true" selectionBehavior="Press">
        <ListViewLinearLayout radListViewLayout itemHeight="50" scrollDirection="Vertical"></ListViewLinearLayout>
        <template listItemTemplate let-item="item">
            <StackLayout orientation="vertical" class="listItemStackLayout">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </template>
    </RadListView>
</GridLayout>