<GridLayout rows="auto, *" rows="auto, *, auto">
    <!-- >> angular-listview-selection -->
    <RadListView row="1" [items]="dataItems" selectionBehavior="Press" (itemSelected)="onItemSelected($event)" (itemDeselected)="onItemDeselected($event)">
        <!-- << angular-listview-selection -->
        <lv:RadListView.listViewLayout>
            <lv:ListViewLinearLayout itemHeight="50" scrollDirection="Vertical" />
        </lv:RadListView.listViewLayout>
        <template listItemTemplate let-item="item">
             <StackLayout class="listItemStackLayout" orientation="vertical">
                    <Label class="nameLabel" [text]="item.name"></Label>
                    <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </template>
    </RadListView>
    <Label [text]="selectedItems" textWrap="true" row="2"></Label>
</GridLayout>