<GridLayout tkExampleTitle tkToggleNavButton>
    <!-- >> angular-listview-item-selection-multiple -->
    <RadListView [items]="dataItems" selectionBehavior="Press" multipleSelection="true">
    <!-- << angular-listview-item-selection-multiple -->
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout class="listItemStackLayout">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </ng-template>
        <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical"></ListViewLinearLayout>
    </RadListView>
</GridLayout>