<RadSideDrawer>
    <GridLayout tkDrawerContent rows="auto, *" class="root-drawer-content">
        <StackLayout>
            <Label [text]="currentExample.title" class="h1 text-center"></Label>
        </StackLayout>
        <ListView id="root-drawer-list" row="1" [items]="currentExample.subItems" (itemTap)="onNavigationItemTap($event)" class="root-drawer-content">
            <ng-template let-item="item">
                <GridLayout id="item-container" class="root-item-stack-layout sidedrawer-list-item">
                    <Label [text]="item.title" textWrap="true"></Label>
                </GridLayout>
            </ng-template>
        </ListView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>
