<RadSideDrawer>
    <GridLayout tkDrawerContent rows="auto, *" class="root-drawer-content">
        <StackLayout>
            <Label [text]="currentExample.title" class="h1 text-center"></Label>
        </StackLayout>
        <ListView row="1" [items]="currentExample.subItems" (itemTap)="onNavigationItemTap($event)" class="root-drawer-content">
            <ng-template let-item="item">
                <StackLayout class="root-item-stack-layout">
                    <Label [text]="item.title" textWrap="true" class="btn btn-primary btn-active"></Label>
                    <StackLayout height="1" class="root-drawer-content"></StackLayout>
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>

    <page-router-outlet tkMainContent></page-router-outlet>
</RadSideDrawer>