<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis id="verBarAxis"></LinearAxis>

    <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount"></BarSeries>
    <!-- >> chart-angular-plot-band-annotations -->
    <ChartPlotBandAnnotation tkCartesianAnnotations axisId="verBarAxis" minValue="2" maxValue="4" zPosition="AboveSeries" strokeWidth="2"
        fillColor="#DDFFFF00" strokeColor="Red" strokeDashPattern="3,3,5,5"></ChartPlotBandAnnotation>
    <!-- << chart-angular-plot-band-annotations -->
</RadCartesianChart>