.vscode
.idea
.DS_Store
*.js
*.js.map
*.esm.json 
*.log
!*/karma.conf.js
!*/app/tests/*.js
!*/references.d.ts
*/platforms
node_modules
*/report/report.html
*/report/stats.json
!app.module.ngfactory.d.ts
*.metadata.json
