<ActionBar title="Events view modes">
    <NavigationButton text="Back" icon="res://ic_arrow_back_black_24dp" (tap)="onNavigationButtonTap()"></NavigationButton>

    <ActionItem *ifAndroid text="None" android.position="popup" (tap)="onNoneTap()"></ActionItem>
    <ActionItem *ifAndroid text="Inline" android.position="popup" (tap)="onInlineTap()"></ActionItem>
    <ActionItem *ifAndroid text="Popover" android.position="popup" (tap)="onPopoverTap()"></ActionItem>

    <ActionItem *ifIOS text="Options" ios.position="right" (tap)="onOptionsTapped()"></ActionItem>
</ActionBar>
<StackLayout>
    <RadCalendar id="calendar" [eventSource]="eventSource" [eventsViewMode]="eventsViewMode"></RadCalendar>
</StackLayout>