<!-- >> chart-angular-axes-date-time -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <DateTimeContinuousAxis tkCartesianHorizontalAxis minimum="01/02/2015" maximum="01/10/2015" majorStep="Month" dateFormat="MMM-dd"
        labelFitMode="Rotate" labelRotationAngle="1.2"></DateTimeContinuousAxis>
    <LinearAxis tkCartesianVerticalAxis></LinearAxis>

    <LineSeries tkCartesianSeries [items]="dateTimeSource" categoryProperty="TimeStamp" valueProperty="Amount"></LineSeries>
</RadCartesianChart>
<!-- << chart-angular-axes-date-time -->