<RadDataForm tkExampleTitle tkToggleNavButton [source]="person" row="1">
	<TKPropertyGroup tkDataFormGroups collapsible="true" name="Main Info" hidden="false">
		<TKDataFormStackLayout tkPropertyGroupLayout></TKDataFormStackLayout>

		<TKEntityProperty tkPropertyGroupProperties name="name">
			<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="age">
			<TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="email">
			<TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
		</TKEntityProperty>
	</TKPropertyGroup>

	<TKPropertyGroup tkDataFormGroups collapsible="true" name="Address" hidden="false">

		<TKDataFormStackLayout tkPropertyGroupLayout></TKDataFormStackLayout>

		<TKEntityProperty tkPropertyGroupProperties name="city">
			<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="country">
			<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="street">
			<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="streetNumber">
			<TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
		</TKEntityProperty>
	</TKPropertyGroup>

	<TKPropertyGroup tkDataFormGroups collapsible="true" name="Payment Info" hidden="false">
		<TKDataFormStackLayout tkPropertyGroupLayout></TKDataFormStackLayout>

		<TKEntityProperty tkPropertyGroupProperties name="bankName">
			<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="bankId">
			<TKPropertyEditor tkEntityPropertyEditor type="Text"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="bankVerificationCode">
			<TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
		</TKEntityProperty>
		<TKEntityProperty tkPropertyGroupProperties name="bankExpirationDate">
			<TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
		</TKEntityProperty>
	</TKPropertyGroup>
</RadDataForm>