button {
    font-size: 15;
    horizontal-align: center;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.mainContent{
    background-color: white;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
    height: 56;
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}