<!-- >> angular-sidedrawer-location -->
<RadSideDrawer [drawerLocation]="currentLocation" tkExampleTitle tkToggleNavButton>
    <!-- << angular-sidedrawer-location -->
    <GridLayout tkDrawerContent rows="56, *" class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <ScrollView row="1">
            <StackLayout class="sideStackLayout">
                <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
                <Label text="Social" class="sideLabel"></Label>
                <Label text="Promotions" class="sideLabel"></Label>
                <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
                <Label text="Important" class="sideLabel"></Label>
                <Label text="Starred" class="sideLabel"></Label>
                <Label text="Sent Mail" class="sideLabel"></Label>
                <Label text="Drafts" class="sideLabel"></Label>
                <Label text="Close Drawer" color="lightgray" padding="10" style="horizontal-align: center"
                    (tap)="onCloseDrawerTap()"></Label>
            </StackLayout>
        </ScrollView>
    </GridLayout>
    <ScrollView tkMainContent class="mainContent">
        <StackLayout>
            <Label
                text="SideDrawer for NativeScript is shown from the left side of the app window by default.You can change this behavior by setting the drawerLocation property to Left, Top, Right or Bottom."
                textWrap="true" class="drawerContentText"></Label>
            <Button text="Left" (tap)="onLeftLocationTap()" class="drawerContentButton"></Button>
            <Button text="Top" (tap)="onTopLocationTap()" class="drawerContentButton"></Button>
            <Button text="Right" (tap)="onRightLocationTap()" class="drawerContentButton"></Button>
            <Button text="Bottom" (tap)="onBottomLocationTap()" class="drawerContentButton"></Button>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>