<!-- >> chart-angular-selection-styling -->
<RadCartesianChart seriesSelectionMode="Multiple" tkExampleTitle tkToggleNavButton>
    <CategoricalAxis tkCartesianHorizontalAxis lineColor="Red" lineThickness="1"></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis lineColor="Blue" lineThickness="1"></LinearAxis>

    <BarSeries tkCartesianSeries seriesName="myBar" selectionMode="DataPoint"
        [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount">
    </BarSeries>
    <BarSeries tkCartesianSeries seriesName="myBar" selectionMode="DataPointMultiple"
        [items]="categoricalSource2" categoryProperty="Country" valueProperty="Amount">
    </BarSeries>
    <LineSeries tkCartesianSeries seriesName="myLine" selectionMode="Series"
        [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount">
    </LineSeries>
    <LineSeries tkCartesianSeries seriesName="myLine" selectionMode="Series"
        [items]="categoricalSource2" categoryProperty="Country" valueProperty="Amount">
    </LineSeries>
    <LineSeries tkCartesianSeries seriesName="myLine" selectionMode="Series"
        [items]="categoricalSource3" categoryProperty="Country" valueProperty="Amount">
    </LineSeries>

    <!-- >> chart-angular-styling-series-selection -->
    <Palette tkCartesianPalette seriesName="myBar">
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="3" strokeColor="Orange" fillColor="Yellow"></PaletteEntry>
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="3" strokeColor="Pink" fillColor="Green"></PaletteEntry>
    </Palette>
    <Palette tkCartesianPalette seriesName="myBar" seriesState="Selected">
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="5" strokeColor="Yellow" fillColor="Orange"></PaletteEntry>
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="5" strokeColor="Green" fillColor="Pink"></PaletteEntry>
    </Palette>
    <!-- << chart-angular-styling-series-selection -->
    <Palette tkCartesianPalette seriesName="myLine">
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="5" strokeColor="Orange" fillColor="Yellow"></PaletteEntry>
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="5" strokeColor="Blue"></PaletteEntry>
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="5" strokeColor="Pink"></PaletteEntry>
    </Palette>
    <Palette tkCartesianPalette seriesName="myLine" seriesState="Selected">
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="10" strokeColor="Yellow"></PaletteEntry>
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="10" strokeColor="Red"></PaletteEntry>
        <PaletteEntry tkCartesianPaletteEntry strokeWidth="10" strokeColor="Green"></PaletteEntry>
    </Palette>

    <RadCartesianChartGrid tkCartesianGrid
        horizontalLinesVisible="true" verticalLinesVisible="false"
        horizontalStripLinesVisible="true" verticalStripLinesVisible="false"
        horizontalStrokeColor="#e5e5e5"
        horizontalStripLineColor="#f8f8f8, #00000000">
    </RadCartesianChartGrid>
</RadCartesianChart>
<!-- << chart-angular-selection-styling -->