<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis></LinearAxis>

    <!-- >> chart-angular-labels-styling -->
    <LineSeries tkCartesianSeries
        legendTitle="Previous Year Sales"
        showLabels="true"
        seriesName="Bar"
        valueProperty="Amount"
        categoryProperty="Country"
        [items]="categoricalSource">
        <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#60B3FC" textSize="10" textColor="White"></PointLabelStyle>
    </LineSeries>

    <LineSeries tkCartesianSeries
        legendTitle="Current Year Sales"
        showLabels="true"
        valueProperty="SecondVal"
        categoryProperty="Country"
        [items]="categoricalSource">
        <PointLabelStyle tkLineLabelStyle margin="10" fontStyle="Bold" fillColor="#FC6060" textSize="10" textColor="White"></PointLabelStyle>
    </LineSeries>
    <!-- << chart-angular-labels-styling -->

    <RadLegendView tkCartesianLegend position="Top" height="150"></RadLegendView>
</RadCartesianChart>