<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <RadCartesianChartGrid tkCartesianGrid
        horizontalLinesVisible="true" verticalLinesVisible="true"
        horizontalStripLinesVisible="false" verticalStripLinesVisible="false"
        horizontalStrokeColor="#8BC34A" verticalStrokeColor="#8BC34A"
        horizontalStrokeWidth="1" verticalStrokeWidth="1"
        horizontalStripLineColor="#00000000">
    </RadCartesianChartGrid>

    <CategoricalAxis tkCartesianHorizontalAxis verticalLocation="Bottom"
        lineThickness="1" lineHidden="true" lineColor="#8BC34A"
        labelLayoutMode="Outer" labelMargin="10" labelTextColor="#536DFE"
        ticksHidden="false" ticksLength="30" ticksThickness="3" ticksColor="#536DFE" ticksOffset="-15">
    </CategoricalAxis>

    <LinearAxis tkCartesianVerticalAxis horizontalLocation="Right"
        lineThickness="1" lineHidden="true" lineColor="#8BC34A"
        labelLayoutMode="Outer" labelMargin="10" labelTextColor="#536DFE" labelFormat="%.2f"
        ticksHidden="false" ticksLength="30" ticksThickness="3" ticksColor="#536DFE" ticksOffset="-15">
    </LinearAxis>

    <LineSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount"></LineSeries>
    <Palette tkCartesianPalette>
        <PaletteEntry tkCartesianPaletteEntry strokeColor="#536DFE" ios:strokeWidth="2" android:strokeWidth="4"></PaletteEntry>
    </Palette>
</RadCartesianChart>