<StackLayout tkExampleTitle tkToggleNavButton backgroundColor="#CDCECE" padding="5">
    <RadAutoCompleteTextView automationText="ac1" class="ac1" [items]="dataItems"></RadAutoCompleteTextView>
    <RadAutoCompleteTextView automationText="ac2" class="ac2" [items]="dataItems"></RadAutoCompleteTextView>
    <RadAutoCompleteTextView automationText="ac3" class="ac3" [items]="dataItems"></RadAutoCompleteTextView>
    <RadAutoCompleteTextView automationText="ac4" class="ac4" [items]="dataItems"></RadAutoCompleteTextView>
</StackLayout>