<GridLayout tkExampleTitle tkToggleNavButton>
    <!-- >> gauges-customization-angular-html -->
    <RadRadialGauge class="gauge">
        <RadialScale #myScale tkRadialGaugeScales startAngle="0" sweepAngle="360" minimum="0" maximum="100" radius="0.9">
            <ScaleStyle tkRadialScaleStyle ticksVisible="false" labelsVisible="false" lineThickness="0"></ScaleStyle>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="0.5">
                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgba(224,151,36,0.5)" barWidth="0.2"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="0" location="0.5" isAnimated="true">
                <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="rgba(224,151,36,1)" barWidth="0.2"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="0.75">
                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgba(196,241,57,0.5)" barWidth="0.2"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="0" location="0.75" isAnimated="true">
                <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="rgba(196,241,57,1)" barWidth="0.2"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="100" location="1">
                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="rgba(132,235,247,0.5)" barWidth="0.2"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator tkRadialScaleIndicators minimum="0" maximum="0" location="1" isAnimated="true">
                <BarIndicatorStyle tkRadialBarIndicatorStyle cap="Round" fillColor="rgba(132,235,247,1)" barWidth="0.2"></BarIndicatorStyle>
            </RadialBarIndicator>
        </RadialScale>
    </RadRadialGauge>.
    <!-- << gauges-customization-angular-html -->
</GridLayout>