<StackLayout tkExampleTitle tkToggleNavButton ios:backgroundColor="#CDCECE" padding="5">
    <Label text="Select country"></Label>
<!-- >> angular-autocomplete-plain-mode-html -->
    <RadAutoCompleteTextView [items]="dataItems" suggestMode="Suggest" displayMode="Plain">
        <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
<!-- << angular-autocomplete-plain-mode-html -->
</StackLayout>