<GridLayout rows="auto, *">
    <Label text="Tap and hold on a given datapoint to display the Trackball. Drag across datapoints to update the Trackball position." textWrap="true"></Label>
    <!-- >> chart-trackball-angular-html -->
    <RadCartesianChart row="1" tkExampleTitle tkToggleNavButton>
        <DateTimeCategoricalAxis tkCartesianHorizontalAxis dateFormat="yyyy-MM-dd" verticalLocation="Bottom"></DateTimeCategoricalAxis>
        <LinearAxis tkCartesianVerticalAxis></LinearAxis>
        <!-- >> chart-trackball-directive-angular-html -->
        <Trackball tkCartesianTrackball></Trackball>
        <!-- << chart-trackball-directive-angular-html -->
        <CandlestickSeries tkCartesianSeries categoryProperty="Date" openPropertyName="Open" highPropertyName="High" lowPropertyName="Low" closePropertyName="Close" [items]="candleStickSourceItems"></CandlestickSeries>
    </RadCartesianChart>
    <!-- << chart-trackball-angular-html -->
</GridLayout>