<RadDataForm tkExampleTitle tkToggleNavButton [source]="user">
    <!-- >> dataform-custom-validator-html -->
	<TKEntityProperty tkDataFormProperty name="username" index="0">
		<ExactTextValidator tkEntityPropertyValidators></ExactTextValidator>
	</TKEntityProperty>
    <!-- << dataform-custom-validator-html -->
	<TKEntityProperty tkDataFormProperty name="password" index="1">
		<TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="email" displayName="E-mail" index="2">
		<TKPropertyEditor tkEntityPropertyEditor type="Email"></TKPropertyEditor>
	</TKEntityProperty>
</RadDataForm>