<RadDataForm tkExampleTitle tkToggleNavButton [source]="employee">
	<TKEntityProperty tkDataFormProperty name="name" imageResource="res://ic_dataform_guest" hintText="name" index="0">
		<TKPropertyEditor tkEntityPropertyEditor type="Text">
			<TKPropertyEditorStyle tkPropertyEditorStyle labelHidden="true"></TKPropertyEditorStyle>
		</TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="phone" imageResource="res://ic_dataform_phone" hintText="phone" index="1">
		<TKPropertyEditor tkEntityPropertyEditor type="Number">
			<TKPropertyEditorStyle tkPropertyEditorStyle labelHidden="true"></TKPropertyEditorStyle>
		</TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="birthDate" imageResource="res://ic_dataform_calendar" hintText="birth date" index="2">
		<TKPropertyEditor tkEntityPropertyEditor type="DatePicker">
			<TKPropertyEditorStyle tkPropertyEditorStyle labelHidden="true"></TKPropertyEditorStyle>
		</TKPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="employeeId" imageResource="res://ic_dataform_table" hintText="employee id" index="3">
		<TKPropertyEditor tkEntityPropertyEditor type="Number">
			<TKPropertyEditorStyle tkPropertyEditorStyle labelHidden="true"></TKPropertyEditorStyle>
		</TKPropertyEditor>
	</TKEntityProperty>
</RadDataForm>