<GridLayout tkExampleTitle tkToggleNavButton>
    <!-- >> angular-listview-item-selection-multiple -->
    <RadListView [items]="dataItems" selectionBehavior="Press" multipleSelection="true">
    <!-- << angular-listview-item-selection-multiple -->
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout ios:class="iosListItemStackLayout" android:class="androidListItemStackLayout">
                <Label ios:class="iosNameLabel" android:class="androidNameLabel" [text]="item.name"></Label>
                <Label ios:class="iosDescriptionLabel" android:class="androidDescriptionLabel" class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>