<StackLayout tkExampleTitle tkToggleNavButton>
    <SegmentedBar (selectedIndexChanged)="onSelectedIndexChanged($event)" [items]="segmentedBarItems"></SegmentedBar>
    <Button [isEnabled]="isEnabled" text="commit manually" (tap)="onTap()" horizontalAlignment="stretch"></Button>
    <Label [text]="text" textWrap="true" margin="12"></Label>
    <RadDataForm  #myCommitDataForm (loaded)="onLoaded()" [source]="user" [commitMode]="commitMode" height="400" (propertyCommitted)="onPropertyCommitted()">
        <TKEntityProperty tkDataFormProperty name="username" index="0"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="password" index="1">
            <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="email" index="2">
            <TKPropertyEditor type="Email"></TKPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>
</StackLayout>
