<!-- >> scatter-series -->
<RadCartesianChart>
    <LinearAxis cartesianHorizontalAxis></LinearAxis>
    <LinearAxis cartesionVerticalAxis></LinearAxis>

    <ScatterSeries cartesianSeries [items]="scatterSource" xProperty="Age" yProperty="Salary"></ScatterSeries>
    <ScatterSeries cartesianSeries [items]="scatterSource" xProperty="Age" yProperty="Spendings"></ScatterSeries>
    <ScatterSeries cartesianSeries [items]="scatterSource" xProperty="Age" yProperty="Savings"></ScatterSeries>
</RadCartesianChart>
<!-- << scatter-series -->