<ActionBar [title]="currentExample.title">
    <NavigationButton text="Back" icon="res://ic_arrow_back_black_24dp" (tap)="onNavigationButtonTap()" [visibility]="hasBack ? 'visible' : 'collapsed'"></NavigationButton>
</ActionBar>
<GridLayout rows="auto, *">
    <RadListView row="1" [items]="currentExample.subItems" (itemTap)="onNavigationItemTap($event)">
        <template tkListItemTemplate let-item="item">
            <StackLayout class="itemStackLayout">
                <Label class="titleLabel" [text]="item.title" textWrap="true"></Label>
                <StackLayout height="0.5" backgroundColor="#404040"></StackLayout>
            </StackLayout>
        </template>
    </RadListView>
</GridLayout>