<!-- >> listview-angular-multiple-operations-html -->
<GridLayout tkExampleTitle tkToggleNavButton rows="*, *7">
    <StackLayout orientation="horizontal">
        <Button width="33%" [text]="isFilteringEnabled ? 'Disable filtering' : 'Enable filtering'" (tap)="toggleFilter()" ios:margin="5"></Button>
        <Button width="33%" [text]="isSortingEnabled ? 'Disable sorting' : 'Enable sorting'" (tap)="toggleSorting()" ios:margin="5"></Button>
        <Button width="33%" [text]="isGroupingEnabled ? 'Disable grouping' : 'Enable grouping'" (tap)="toggleGrouping()" ios:margin="5"></Button>
    </StackLayout>
    <RadListView [items]="dataItems" row="1" #myListView 
                    [sortingFunction]="mySortingFunc" 
                    [filteringFunction]="myFilteringFunc"
                    [groupingFunction]="myGroupingFunc" >
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
<!-- << listview-angular-multiple-operations-html -->