<GridLayout tkExampleTitle tkToggleNavButton>
    <!-- >> listview-multiple-templates-angular-html -->
    <RadListView [items]="dataItems" [itemTemplateSelector]="templateSelector">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label [text]="item.name" class="nameLabel"></Label>
                <Label [text]="item.type" class="typeLabel middleLabel"></Label>
                <Label [text]="item.description" class="descriptionLabel"></Label>
            </StackLayout>
        </ng-template>

        <ng-template tkTemplateKey="start" let-item="item">
            <StackLayout orientation="vertical" class="blackStackLayout">
                <Label [text]="item.name" class="nameLabel yellowText"></Label>
                <Label [text]="item.type" class="typeLabel yellowText middleLabel"></Label>
                <Label [text]="item.description" class="descriptionLabel yellowText"></Label>
            </StackLayout>
        </ng-template>
        <ng-template tkTemplateKey="Red" let-item="item">
            <StackLayout orientation="vertical" class="redStackLayout">
                <Label [text]="item.name" class="nameLabel whiteText"></Label>
                <Label [text]="item.type" class="typeLabel whiteText"></Label>
            </StackLayout>
        </ng-template>
        <ng-template tkTemplateKey="green" let-item="item">
            <StackLayout orientation="vertical" class="greenStackLayout">
                <Label [text]="item.name" class="nameLabel whiteText"></Label>
                <Label [text]="item.type" class="typeLabel whiteText"></Label>
            </StackLayout>
        </ng-template>
        <ng-template tkTemplateKey="Blue" let-item="item">
            <StackLayout orientation="vertical" class="blueStackLayout">
                <Label [text]="item.name" class="nameLabel whiteText"></Label>
                <Label [text]="item.type" class="typeLabel whiteText"></Label>
            </StackLayout>
        </ng-template>
        <ng-template tkTemplateKey="End" let-item="item">
            <StackLayout orientation="vertical" class="yellowStackLayout">
                <Label [text]="item.name" class="nameLabel blackText"></Label>
                <Label [text]="item.type" class="typeLabel blackText middleLabel"></Label>
                <Label [text]="item.description" class="descriptionLabel blackText"></Label>
            </StackLayout>
        </ng-template>
    </RadListView>
    <!-- << listview-multiple-templates-angular-html -->
</GridLayout>