/* >> listview-multiple-templates-angular-css */
.nameLabel {
    font-size: 20;
    margin: 5;
}

.typeLabel {
    font-size: 17;
    margin: 5;
}

.middleLabel{
    margin: 0 5 0 5;
}

.descriptionLabel {
    font-size: 14;
    margin: 5
}

.yellowText {
  color: yellow;  
}

.whiteText {
  color: white;  
}

.blackText {
  color: black;  
}

.blackStackLayout {
    background-color: black;
}

.redStackLayout {
    background-color: red;
}

.greenStackLayout {
    background-color: green;
}

.blueStackLayout {
    background-color: blue;
}

.yellowStackLayout {
    background-color: yellow;
}
/* << listview-multiple-templates-angular-css */