<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="dataItems">
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout class="listItemTemplateGrid">
                <Image *tkIfIOS [src]="item.image" stretch="aspectFill"></Image>
                <FrescoDrawee *tkIfAndroid height="250" [imageUri]="item.image"></FrescoDrawee>
                <GridLayout verticalAlignment="bottom">
                    <StackLayout class="labelsStackLayout">
                        <Label [text]="item.title"></Label>
                        <Label [text]="item.name"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        </ng-template>
        
        <!-- >> angular-listview-item-animations-html -->
        <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical" itemInsertAnimation="Default" itemDeleteAnimation="Default"></ListViewLinearLayout>
        <!-- << angular-listview-item-animations-html -->
    </RadListView>
</GridLayout>