<!-- >> chart-angular-axes-customization -->
<RadCartesianChart>
    <CategoricalAxis cartesianHorizontalAxis labelTextColor="#cb4b16" labelSize="10" lineThickness="3" lineColor="Red"></CategoricalAxis>
    <LinearAxis cartesianVerticalAxis labelTextColor="Green" lineColor="Blue" lineThickness="5" horizontalLocation="Right" lineHidden="false"></LinearAxis>

    <BarSeries cartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount"></BarSeries>
</RadCartesianChart>
<!-- << chart-angular-axes-customization -->