<!-- >> chart-angular-axes-negative-values -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <LinearAxis tkCartesianVerticalAxis allowZoom="true" minimum="-50" maximum="50"></LinearAxis>
    <CategoricalAxis tkCartesianHorizontalAxis allowZoom="true"></CategoricalAxis>

    <SplineAreaSeries tkCartesianSeries seriesName="SplineArea" [items]="negativeValues" categoryProperty="Period" valueProperty="Amount"></SplineAreaSeries>
</RadCartesianChart>
<!-- << chart-angular-axes-negative-values -->