<!-- >> chart-legend-example-angular -->
<RadCartesianChart tkExampleTitle tkToggleNavButton seriesSelectionMode="Single">
    <CategoricalAxis tkCartesianHorizontalAxis></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis maximum="50"></LinearAxis>

    <BarSeries tkCartesianSeries legendTitle="Bar series" [items]="categoricalSource" stackMode="Stack" categoryProperty="Country" valueProperty="ThirdVal" legendLabel="Series type"></BarSeries>
    <LineSeries tkCartesianSeries legendTitle="Line series" [items]="categoricalSource" stackMode="Stack" categoryProperty="Country" valueProperty="Amount" legendLabel="Series type"></LineSeries>
    <AreaSeries tkCartesianSeries legendTitle="Area series" [items]="categoricalSource" stackMode="Stack" categoryProperty="Country" valueProperty="SecondVal" legendLabel="Series type"></AreaSeries>
    <!-- >> chart-legend-angular-definition -->
    <RadLegendView tkCartesianLegend position="Top" title="Series type" height="150" enableSelection="true"></RadLegendView>
    <!-- << chart-legend-angular-definition -->
</RadCartesianChart>
<!-- << chart-legend-example-angular -->