<!-- >> chart-angular-bubble-series -->
<RadCartesianChart id="bubbleChart">
    <CategoricalAxis cartesianHorizontalAxis></CategoricalAxis>
    <LinearAxis cartesianVerticalAxis></LinearAxis>

    <BubbleSeries cartesianSeries [items]="highDataModel" bubbleScale="5" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
    <BubbleSeries cartesianSeries [items]="middleDataModel" bubbleScale="5" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
    <BubbleSeries cartesianSeries [items]="lowDataModel" bubbleScale="5" categoryProperty="Year" valueProperty="Amount" bubbleSizeProperty="Impact"></BubbleSeries>
</RadCartesianChart>
<!-- << chart-angular-bubble-series -->