<!-- >> chart-angular-scatter-bubble-series -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <LinearAxis tkCartesianHorizontalAxis></LinearAxis>
    <LinearAxis tkCartesianVerticalAxis></LinearAxis>

    <ScatterBubbleSeries tkCartesianSeries [items]="scatterSource" bubbleScale="5" xProperty="Age" yProperty="Salary" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
    <ScatterBubbleSeries tkCartesianSeries [items]="scatterSource" bubbleScale="5" xProperty="Age" yProperty="Spendings" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
    <ScatterBubbleSeries tkCartesianSeries [items]="scatterSource" bubbleScale="5" xProperty="Age" yProperty="Savings" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
</RadCartesianChart>
<!-- << chart-angular-scatter-bubble-series -->