<!-- >> scatter-bubble-series -->
<RadCartesianChart id="bubbleChart">
    <LinearAxis cartesianHorizontalAxis></LinearAxis>
    <LinearAxis cartesianVerticalAxis></LinearAxis>

    <ScatterBubbleSeries cartesianSeries [items]="scatterSource" bubbleScale="5" xProperty="Age" yProperty="Salary" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
    <ScatterBubbleSeries cartesianSeries [items]="scatterSource" bubbleScale="5" xProperty="Age" yProperty="Spendings" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
    <ScatterBubbleSeries cartesianSeries [items]="scatterSource" bubbleScale="5" xProperty="Age" yProperty="Savings" bubbleSizeProperty="Impact"></ScatterBubbleSeries>
</RadCartesianChart>
<!-- << scatter-bubble-series -->