<!-- >> angular-sidedrawer-transitions -->
<RadSideDrawer #drawer [transition]="sideDrawerTransition">
<!-- << angular-sidedrawer-transitions -->
    <template drawerSide>
        <StackLayout style="background-color: gray;">
            <StackLayout style=" padding:10;text-align: center;">
                <Label text="Navigation Menu"></Label>
            </StackLayout>
            <StackLayout style="background-color: gray;">
                <Label text="Primary" style="padding: 10px;background-color:lightgray;"></Label>
                <Label text="Social" style="padding: 10px;"></Label>
                <Label text="Promotions" style="padding: 10px;"></Label>
                <Label text="Labels" style="padding:10px;background-color: lightgray;"></Label>
                <Label text="Important" style="padding: 10px;"></Label>
                <Label text="Starred" style="padding: 10px;"></Label>
                <Label text="Sent Mail" style="padding: 10px;"></Label>
                <Label text="Drafts" style="padding: 10px;"></Label>
            </StackLayout>
       </StackLayout>
    </template>
    <template drawerMain>    
        <StackLayout style="background-color:white;"> 
            <Button text="OPEN DRAWER" (tap)="openDrawer()" style="horizontal-align:center;"></Button>
            <Button text="Fade Transition" (tap)="onFadeTransitionTap()"></Button>
            <Button text="Push Transition" (tap)="onPushTransitionTap()"></Button>
            <Button text="Reveal Transition" (tap)="onRevealTransitionTap()"></Button>
            <Button text="ReverseSlideOut Transition" (tap)="onReverseSlideOutTransitionTap()"></Button>
            <Button text="ScaleDownPusher Transition" (tap)="onScaleDownPusherTransitionTap()"></Button>
            <Button text="ScaleUp Transition" (tap)="onScaleUpTransitionTap()"></Button>
            <Button text="SlideAlong Transition" (tap)="onSlideAlongTransitionTap()"></Button>
            <Button text="SlideInOnTop Transition" (tap)="onSlideInOnTopTransitionTap()"></Button>
        </StackLayout>
    </template>
</RadSideDrawer>