<ActionBar title="Stacked Bar series">
    <NavigationButton text="Back" icon="res://ic_arrow_back_black_24dp" (tap)="onNavigationButtonTap()"></NavigationButton>

    <ActionItem *ifAndroid text="Stack 100" android.position="popup" (tap)="onStack100ModeSelected()"></ActionItem>
    <ActionItem *ifAndroid text="Stack" android.position="popup" (tap)="onStackModeSelected()"></ActionItem>
    <ActionItem *ifAndroid text="None" android.position="popup" (tap)="onNoneStackModeSelected()"></ActionItem>

    <ActionItem *ifIOS text="Options" ios.position="right" (tap)="onOptionsTapped()"></ActionItem>
</ActionBar>
<RadCartesianChart>
    <CategoricalAxis tkCartesianHorizontalAxis verticalLocation="Bottom" labelSize="11"></CategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis horizontalLocation="Left" labelSize="11"></LinearAxis>

    <BarSeries tkCartesianSeries [items]="categoricalSource" [stackMode]="stackMode" categoryProperty="Country" valueProperty="Amount"></BarSeries>
    <BarSeries tkCartesianSeries [items]="categoricalSource" [stackMode]="stackMode" categoryProperty="Country" valueProperty="Amount"></BarSeries>
    <BarSeries tkCartesianSeries [items]="categoricalSource" [stackMode]="stackMode" categoryProperty="Country" valueProperty="Amount"></BarSeries>
</RadCartesianChart>