<StackLayout tkExampleTitle tkToggleNavButton ios:backgroundColor="#CDCECE" padding="5">
    <Label text="Select country"></Label>
<!-- >> angular-autocomplete-getting-started-html -->
    <RadAutoCompleteTextView #autocmp [items]="dataItems" suggestMode="Suggest" displayMode="Tokens">
        <SuggestionView tkAutoCompleteSuggestionView>
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
<!-- << angular-autocomplete-getting-started-html -->
    <Label text="SUGGEST MODES" marginTop="5"></Label>
    <StackLayout orientation="horizontal">
        <Button margin="5" text="Suggest" (tap)="onSuggestSelected($event)"></Button>
        <Button margin="5" text="Append" (tap)="onAppendSelected($event)"></Button>
        <Button margin="5" text="Suggest-Append" (tap)="onSuggestAppendSelected($event)"></Button>
    </StackLayout>
    <Label text="COMPLETION MODES"></Label>
    <StackLayout orientation="horizontal">
        <Button margin="5" text="StartsWith" (tap)="onStartsWithSelected($event)"></Button>
        <Button margin="5" text="Contains" (tap)="onContainsSelected($event)"></Button>
    </StackLayout>
    <Label text="DISPLAY MODES"></Label>
    <StackLayout orientation="horizontal">
        <Button margin="5" text="Plain" (tap)="onPlainSelected($event)"></Button>
        <Button margin="5" text="Tokens" (tap)="onTokensSelected($event)"></Button>
    </StackLayout>
</StackLayout>