<GridLayout orientation="vertical" rows="auto, *" tkExampleTitle tkToggleNavButton>
    <RadListView 
        #myListView
        [items]="dataItems"
        row="1" 
        selectionBehavior="None" 
        (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwipeProgressChanged)="onCellSwiping($event)"
        swipeActions="true">
    
        <template tkListItemTemplate let-item="item">
            <StackLayout class="listItemStackLayout" orientation="vertical">
                <Label class="labelName" [text]="item.name"></Label>
                <Label class="labelTitle" [text]="item.title"></Label>
                <Label class="labelText" [text]="item.text"></Label>
            </StackLayout>
        </template>
        <!-- >> listview-swipe-actions-multiple-template-xml -->
            <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="swipeTemplateStackLayout">
                <GridLayout columns="*, *, *" col="0" id="left-stack">
                    <StackLayout col="0" class="markStackLayout" (tap)="onLeftSwipeClick($event)" id="btnMark">
                        <Label text="mark" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="archiveStackLayout" (tap)="onLeftSwipeClick($event)" id="btnArchive">
                        <Label text="archive" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout col="2" class="unreadStackLayout" (tap)="onLeftSwipeClick($event)" id="btnUnread">
                        <Label text="unread" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
                <GridLayout columns="*, *, *" col="2" id="right-stack">
                    <StackLayout col="0" class="deleteStackLayout" (tap)="onRightSwipeClick($event)" id="btnDelete">
                        <Label text="delete" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout col="1" class="readStackLayout" (tap)="onRightSwipeClick($event)" id="btnRead">
                        <Label text="read" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                    <StackLayout col="2" class="forwardStackLayout" (tap)="onRightSwipeClick($event)" id="btnForward">
                        <Label text="forward" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
                    </StackLayout>
                </GridLayout>
            </GridLayout>
        <!-- << listview-swipe-actions-multiple-template-xml -->
    </RadListView>
</GridLayout>
