.listItemStackLayout {
    background-color: white;
    padding-left: 5;
}

.labelName {
    font-size: 20;
    margin-bottom: 8;
}

.labelTitle {
    font-size: 14;
    font-weight: bold;
}

.labelText {
    font-size: 12;
}

.markViewStackLayout {
    background-color: blue;
    padding: 16
}

.deleteViewStackLayout {
    background-color: red;
    padding: 16;
}

.gridLayoutLayout {
    background-color: white;
}

.markViewStackLayout {
    background-color: blue;
    padding-left: 16;
    padding-right: 16;
}

.swipetemplateLabel {
    size: 20;
}

.deleteViewStackLayout {
    background-color: red;
    padding-left: 16;
    padding-right: 16;
}