<GridLayout tkExampleTitle tkToggleNavButton rows="auto, auto, auto, *">
    <Label text="ACTUAL VALUES:" fontWeight="bold" margin="16" ></Label>
    <Label [text]="sourceText" textWrap="true" row="1" marginLeft="16" ></Label>
    <Label text="FORM VALUES:" fontWeight="bold" margin="16" row="2"></Label>
    <RadDataForm  #myValuesDataForm [source]="cities" (propertyCommitted)="onPropertyCommitted($event)" row="3">
	    <!-- >> angular-dataform-value-providers-html -->
        <TKEntityProperty tkDataFormProperty name="city1" displayName="Selected City 1" index="0" [valuesProvider]="cityProvider1">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
	    <!-- << angular-dataform-value-providers-html -->
        <TKEntityProperty tkDataFormProperty name="city2" displayName="Selected City 2" index="1" [valuesProvider]="cityProvider2">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="city3" displayName="Selected City 3" index="2" [valuesProvider]="cityProvider3">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="city4" displayName="Selected City 4" index="3" [valuesProvider]="cityProvider4">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="city5" displayName="Selected City 5" index="4" [valuesProvider]="cityProvider5">
            <TKPropertyEditor tkEntityPropertyEditor type="Picker"></TKPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>
</GridLayout>
