<GridLayout orientation="vertical" rows="auto, *, auto" tkExampleTitle tkToggleNavButton>
     <!-- >> angular-listview-reorder -->
    <RadListView row="1" [items]="dataItems" itemReorder="true" (itemReordered)="onItemReordered($event)">
     <!-- << angular-listview-reorder -->
        <ng-template tkListItemTemplate let-item="item">
            <GridLayout class="listItemGridLayout">
                <StackLayout orientation="vertical" col="0">
                    <Label class="nameLabel" [text]="item.name"></Label>
                </StackLayout>
            </GridLayout>
        </ng-template>
    </RadListView>
</GridLayout>