RadDataForm {
    background-color: #4CAF50;
    color: #3F51B5;
    padding: 5;
    margin: 5;
    border-color: #303F9F;
    border-width: 5;
    border-radius: 5;
}

PropertyEditor {
    background-color: transparent;
    separator-color: #303F9F;
}