<GridLayout orientation="vertical" rows="auto, *, auto">
    <!--[itemReordered]="onItemReordered($event)"-->
    <RadListView row="1" [items]="dataItems" itemReorder="true" (itemReordered)="onItemReordered($event)">
        <lv:RadListView.listViewLayout>
            <lv:ListViewLinearLayout scrollDirection="Vertical" />
        </lv:RadListView.listViewLayout>
        <template listItemTemplate #item="item">
            <GridLayout class="listItemGridLayout">
                <StackLayout orientation="vertical" col="0">
                    <Label class="nameLabel" [text]="item.name"></Label>
                </StackLayout>
            </GridLayout>
        </template>
    </RadListView>
</GridLayout>