<!-- >> listview-angular-item-separator -->
<GridLayout tkExampleTitle tkToggleNavButton>
    <RadListView [items]="dataItems">
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
                <StackLayout height="2" backgroundColor="Black"></StackLayout>
            </StackLayout>
        </ng-template>
    </RadListView>
</GridLayout>
<!-- << listview-angular-item-separator -->