<ActionBar title="View modes">
    <NavigationButton text="Back" icon="res://ic_arrow_back_black_24dp" (tap)="onNavigationButtonTap()"></NavigationButton>
    
    <ActionItem *tkIfAndroid text="Week" android.position="popup" (tap)="onWeekTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Month" android.position="popup" (tap)="onMonthTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Month names" android.position="popup" (tap)="onMonthNamesTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Year" android.position="popup" (tap)="onYearTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Day" android.position="popup" (tap)="onDayTap()"></ActionItem>

    <ActionItem *tkIfIOS text="Options" ios.position="right" (tap)="onOptionsTapped()"></ActionItem>
</ActionBar>
<!-- >> angular-calendar-view-modes-html -->
<StackLayout>
    <RadCalendar [viewMode]="viewMode"></RadCalendar>
</StackLayout>
<!-- << angular-calendar-view-modes-html -->