<GridLayout>
    <!-- >> angular-listview-header-footer -->
    <RadListView [items]="dataItems" tkExampleTitle tkToggleNavButton>
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </ng-template>
        <ng-template tkListViewHeader>
            <Label text="This is list header" class="header"></Label>
        </ng-template>
        <ng-template tkListViewFooter>
            <Label text="This is list footer" class="footer"></Label>
        </ng-template>
    </RadListView>
    <!-- << angular-listview-header-footer -->
</GridLayout>