<GridLayout rows="auto, *">
    <!-- >> angular-listview-header-footer -->
    <RadListView row="1" [items]="dataItems">
        <template listItemTemplate #item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </template>
        <template listViewHeader>
            <GridLayout class="headerStackLayout">
                <Label text="This is the list header"></Label>
            </GridLayout>
        </template>
        <template listViewFooter>
            <GridLayout class="footerStackLayout">
                <Label text="This is the list footer"></Label>
            </GridLayout>
        </template>
    </RadListView>
    <!-- << angular-listview-header-footer -->
</GridLayout>