.listItemTemplateGrid {
    background-color: white;
    margin-bottom: 2;
    margin-right: 2;
}

.labelsStackLayout {
    background-color: rgba(49, 104, 177, 0.7);
    color: white;
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
}