<GridLayout tkExampleTitle tkToggleNavButton>
    <!-- >> gauges-scales-add-scales-angular-html -->
    <RadRadialGauge title="celsius" subtitle="fahrenheit">
        <TitleStyle tkRadialGaugeTitleStyle textColor="gray" ios:textSize="12" ios:verticalOffset="30" android:verticalOffset="90"></TitleStyle>
        <SubtitleStyle tkRadialGaugeSubtitleStyle textColor="gray"></SubtitleStyle>

        <RadialScale tkRadialGaugeScales startAngle="135" sweepAngle="270" minimum="34" maximum="40" radius="0.6">
            <ScaleStyle tkRadialScaleStyle majorTicksCount="7" minorTicksCount="9" lineThickness="2" labelsOffset="0.1" lineColor="gray"
                labelsCount="7" ticksOffset="0"></ScaleStyle>
            <RadialBarIndicator tkRadialScaleIndicators minimum="34" maximum="36" location="0.69">
                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="blue" barWidth="0.08"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialBarIndicator tkRadialScaleIndicators minimum="36.05" maximum="40" location="0.69">
                <BarIndicatorStyle tkRadialBarIndicatorStyle fillColor="red" barWidth="0.08"></BarIndicatorStyle>
            </RadialBarIndicator>

            <RadialNeedle tkRadialScaleIndicators value="36.5">
                <NeedleStyle tkRadialNeedleStyle length="0.5" android:topWidth="8" ios:topWidth="3" android:bottomWidth="8" ios:bottomWidth="3"></NeedleStyle>
            </RadialNeedle>
        </RadialScale>

        <RadialScale tkRadialGaugeScales minimum="93.2" maximum="104" radius="0.7">
            <ScaleStyle tkRadialScaleStyle majorTicksCount="7" minorTicksCount="20" lineThickness="2" labelsOffset="0.1" lineColor="gray"
                labelsCount="7" ticksOffset="0" labelsLayoutMode="Outer" ticksLayoutMode="Outer"></ScaleStyle>
        </RadialScale>
    </RadRadialGauge>
    <!-- << gauges-scales-add-scales-angular-html -->
</GridLayout>