Label.title {
    font-size: 26;
    margin: 12 12 0 12;
    color:#212121;
}

Label.subtitle {
    font-size: 14;
    margin: 0 12 0 12;
    color:#70212121;
}

RadCartesianChart {
    margin: 12;
}

LinearAxis {
    label-format: "%.1f";
    minimum: 125;
    maximum: 137.5;
    major-step: 2.5;
    line-color: #C6C9CC;
    ticks-color: #C6C9CC;
    line-thickness: 1;
    ticks-thickness: 1;
    ticks-length: 4;
    ticks-hidden: false;
    line-hidden: false;
}

DateTimeCategoricalAxis {
    date-format: "MMM dd";
    line-color: #C6C9CC;
    ticks-color: #C6C9CC;
    line-thickness: 1;
    ticks-thickness: 1;
    ticks-length: 4;
    ticks-hidden: false;
    line-hidden: false;
    plot-mode: on-ticks;
}

ChartAxisLabel {
    margin: 8;
}

DateTimeCategoricalAxis ChartAxisLabel {
    fit-mode: rotate;
    rotation-angle: 4.71;
}

CandlestickSeries {
    stroke-width: 1;
    stroke-colors: #464D57,#464D57;
    fill-colors: #00B061,#FF3030;
}