RadCartesianChart {
    margin: 12;
    padding: 12;
}

LinearAxis {
    maximum: 100;
}

CategoricalAxis, LinearAxis {
    line-hidden: true;
    ticks-hidden: true;
}

CategoricalAxis ChartAxisLabel{
    color: #3C4044;
    padding: 6;
    font-family: sans-serif;
}

LinearAxis ChartAxisLabel {
    color: transparent;
}

BarSeries {
    show-labels: true;
    fill-color: #C8A1FF;
    stroke-color: white;
    stroke-width: 4;
}

BarSeries[index=1] {
    fill-color: #6215EE;
}

ChartSeriesLabel {
    margin: 16;
    font-size: 12;
    color: #C8A1FF;
    background-color: transparent;
    border-color: transparent;
    border-width: 2;
    format: "%.1f";
}

BarSeries[index=1] ChartSeriesLabel {
    color: #6215EE;
}

.root {
    background: white;
}

Label.title {
    font-size: 26;
    margin: 12 12 0 12;
    color:#212121;
}

Label.subtitle {
    font-size: 14;
    margin: 0 12 0 12;
    color:#70212121;
}

.legend {
    margin: 12;
    color: #5F6368;
}

.legend .symbol {
    border-radius: 20;
    width: 20;
    height: 20;
}

.legend .symbol.first {
    background: #6215EE;
    margin: 0 8 0 12;
}

.legend .symbol.second {
    background: #C8A1FF;
    margin: 0 8 0 30;
}