<GridLayout orientation="vertical" tkExampleTitle tkToggleNavButton>
    <!-- >> angular-listview-swipe-execute-sticky-component -->
    <RadListView id="listView" [items]="dataItems" selectionBehavior="None" (itemTap)="onItemClick($event)" (itemSwipeProgressStarted)="onSwipeCellStarted($event)"
        itemSwipe="true">
        <!-- << angular-listview-swipe-execute-sticky-component -->
        <template tkListItemTemplate let-item="item">
            <StackLayout class="listItemStackLayout" orientation="vertical">
                <Label class="labelName" [text]="item.name"></Label>
                <Label class="labelTitle" [text]="item.title"></Label>
                <Label class="labelText" [text]="item.text"></Label>
            </StackLayout>
        </template>
        <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="listItemSwipeGridLayout">
            <StackLayout id="mark-view" class="markViewStackLayout" col="0" (tap)="onLeftSwipeClick($event)">
                <Label text="mark" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout id="delete-view" class="deleteViewStackLayout" col="2" (tap)="onRightSwipeClick($event)">
                <Label text="delete" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
    </RadListView>
</GridLayout>