<!-- >> dataform-custom-editors-html -->
<RadDataForm tkExampleTitle tkToggleNavButton [source]="person">
	<TKEntityProperty tkDataFormProperty name="name"></TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="age">
		<TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
		 (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="birthDate">
		<TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
	</TKEntityProperty>
</RadDataForm>
<!-- << dataform-custom-editors-html -->