<!-- >> chart-angular-range-bar-series -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <LinearAxis tkCartesianVerticalAxis horizontalLocation="Left" labelSize="11"></LinearAxis>
    <CategoricalAxis tkCartesianHorizontalAxis verticalLocation="Bottom" labelSize="11"></CategoricalAxis>

    <RangeBarSeries tkCartesianSeries
        showLabels="true"
        categoryProperty="Name"
        lowPropertyName="Low"
        highPropertyName="High"
        [items]="rangeBarSource"></RangeBarSeries>
</RadCartesianChart>
<!-- << chart-angular-range-bar-series -->