<!-- >> angular-sidedrawer-over-navigation-html -->
<RadSideDrawer showOverNavigation="true" tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
        </StackLayout>
        <Button text="Go to next page" (tap)="goToSecondPage()" class="mainContentButton drawerContentButton"></Button>
        <Button text="Close Drawer" (tap)="onCloseDrawerTap()" class="mainContentButton drawerContentButton"></Button>
    </StackLayout>
    <StackLayout tkMainContent>
        <Label [text]="mainContentText" textWrap="true" class="mainContentText"></Label>
        <Button text="OPEN DRAWER" (tap)="openDrawer()" class="mainContentButton"></Button>
        <Button text="Go to next page" (tap)="goToSecondPage()" class="mainContentButton"></Button>
    </StackLayout>
</RadSideDrawer>
<!-- << angular-sidedrawer-over-navigation-html -->