<!-- >> angular-sidedrawer-transitions -->
<RadSideDrawer [drawerTransition]="sideDrawerTransition" tkExampleTitle tkToggleNavButton>
    <!-- << angular-sidedrawer-transitions -->
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label text="Navigation Menu"></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label text="Primary" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Social" class="sideLabel"></Label>
            <Label text="Promotions" class="sideLabel"></Label>
            <Label text="Labels" class="sideLabel sideLightGrayLabel"></Label>
            <Label text="Important" class="sideLabel"></Label>
            <Label text="Starred" class="sideLabel"></Label>
            <Label text="Sent Mail" class="sideLabel"></Label>
            <Label text="Drafts" class="sideLabel"></Label>
        </StackLayout>
        <Button text="Close Drawer" (tap)="onCloseDrawerTap()"></Button>
    </StackLayout>
    <ScrollView tkMainContent>
        <StackLayout class="mainStackLayout">
            <Button text="Fade Transition" (tap)="onFadeTransitionTap()" class="drawerContentButton"></Button>
            <Button text="Push Transition" (tap)="onPushTransitionTap()" class="drawerContentButton"></Button>
            <Button text="Reveal Transition" (tap)="onRevealTransitionTap()" class="drawerContentButton"></Button>
            <Button text="ReverseSlideOut Transition" (tap)="onReverseSlideOutTransitionTap()" class="drawerContentButton"></Button>
            <Button text="ScaleDownPusher Transition" (tap)="onScaleDownPusherTransitionTap()" class="drawerContentButton"></Button>
            <Button text="ScaleUp Transition" (tap)="onScaleUpTransitionTap()" class="drawerContentButton"></Button>
            <Button text="SlideAlong Transition" (tap)="onSlideAlongTransitionTap()" class="drawerContentButton"></Button>
            <Button text="SlideInOnTop Transition" (tap)="onSlideInOnTopTransitionTap()" class="drawerContentButton"></Button>
        </StackLayout>
    </ScrollView>
</RadSideDrawer>