<!-- >> chart-angular-axes-multiple -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <LinearAxis tkCartesianVerticalAxis horizontalLocation="Left"></LinearAxis>
    <CategoricalAxis tkCartesianHorizontalAxis verticalLocation="Bottom"></CategoricalAxis>

    <BarSeries tkCartesianSeries [items]="total" categoryProperty="Country" valueProperty="Amount">
        <LinearAxis tkBarVerticalAxis horizontalLocation="Right"></LinearAxis>
    </BarSeries>
    <LineSeries tkCartesianSeries [items]="rateA" categoryProperty="Country" valueProperty="Amount"></LineSeries>
    <LineSeries tkCartesianSeries [items]="rateB" categoryProperty="Country" valueProperty="Amount"></LineSeries>
    <LineSeries tkCartesianSeries [items]="rateC" categoryProperty="Country" valueProperty="Amount"></LineSeries>
</RadCartesianChart>
<!-- << chart-angular-axes-multiple -->