<!-- >> dataform-custom-editors-html -->
<RadDataForm tkExampleTitle tkToggleNavButton [source]="person">
	<TKEntityProperty tkDataFormProperty name="name" index="0"></TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="age" index="1">
		<TKCustomPropertyEditor tkEntityPropertyEditor (editorNeedsView)="editorNeedsView($event)" (editorHasToApplyValue)="editorHasToApplyValue($event)"
		 (editorNeedsValue)="editorNeedsValue($event)"></TKCustomPropertyEditor>
	</TKEntityProperty>
	<TKEntityProperty tkDataFormProperty name="birthDate" index="2">
		<TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
	</TKEntityProperty>
</RadDataForm>
<!-- << dataform-custom-editors-html -->