<GridLayout orientation="vertical" rows="auto, *" tkExampleTitle tkToggleNavButton>
    <!-- >> angular-listview-swipe-actions-set-enabled-html -->
    <RadListView #myListView [items]="dataItems" row="1" selectionBehavior="None" (itemSwipeProgressEnded)="onSwipeCellFinished($event)"
        (itemSwipeProgressStarted)="onSwipeCellStarted($event)" (itemSwipeProgressChanged)="onCellSwiping($event)" swipeActions="true">
    <!-- >> (hide) -->
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout class="listItemStackLayout" orientation="vertical">
                <Label class="labelName" [text]="item.name"></Label>
                <Label class="labelTitle" [text]="item.title"></Label>
                <Label class="labelText" [text]="item.text"></Label>
            </StackLayout>
        </ng-template>
    <!-- >> angular-listview-swipe-actions-template-html -->
        <GridLayout *tkListItemSwipeTemplate columns="auto, *, auto" class="gridLayoutLayout">
             <StackLayout id="mark-view" col="0" class="markViewStackLayout" (tap)="onLeftSwipeClick($event)">
                <Label text="mark" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
            <StackLayout id="delete-view" col="2" class="deleteViewStackLayout" (tap)="onRightSwipeClick($event)">
                <Label text="delete" class="swipetemplateLabel" verticalAlignment="center" horizontalAlignment="center"></Label>
            </StackLayout>
        </GridLayout>
    <!-- << angular-listview-swipe-actions-template-html -->
    <!-- << (hide) -->
    </RadListView>
<!-- << angular-listview-swipe-actions-set-enabled-html -->
</GridLayout>