.title {
    font-size: 30;
    horizontal-align: center;
    margin:20;
}

button {
    font-size: 15;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.mainContent{
    background-color: white;
}

.drawerContent {
    background-color: gray;
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.headerContent {
    padding:10;
    text-align: center;
}

.drawerSectionHeader {
    padding-left: 10;
    background-color: lightgray;
}

.drawerSectionItem {
    padding: 10;
}

.listViewCellLabel {
    margin-left: 15
}

.listView{
    background-color: #ffffff;
}

.example-title{
    color: #555555;
    font-size: 17;
    margin: 0;
    padding: 10;
}

.control-title{
    color: #FFFFFF;
    background-color: #284848;
    font-size: 22;
    margin: 0;
    padding: 5;
}

.example-group-title{
    color: #555555;
    background-color: #808080;
    font-size: 20;
    margin: 0;
    padding: 5;
}
