<ActionBar title="Transition modes">
    <NavigationButton text="Back" icon="res://ic_arrow_back_black_24dp" (tap)="onNavigationButtonTap()"></NavigationButton>
    
    <ActionItem *tkIfAndroid text="None" android.position="popup" (tap)="onNoneTap()" ></ActionItem>
    <ActionItem *tkIfAndroid text="Slide" android.position="popup" (tap)="onSlideTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Stack" android.position="popup" (tap)="onStackTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Plain" android.position="popup" (tap)="onPlainTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Free" android.position="popup" (tap)="onFreeTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Combo" android.position="popup" (tap)="onComboTap()"></ActionItem>
    <ActionItem *tkIfAndroid text="Overlap" android.position="popup" (tap)="onOverlapTap()"></ActionItem>

    <ActionItem *tkIfIOS text="Options" ios.position="right" (tap)="onOptionsTapped()"></ActionItem>
</ActionBar>
<!-- >> angular-calendar-transition-modes-html -->
<StackLayout>
    <RadCalendar [transitionMode]="transitionMode"></RadCalendar>
</StackLayout>
<!-- << angular-calendar-transition-modes-html -->