<GridLayout>
    <!-- >> angular-listview-header-footer -->
    <RadListView [items]="dataItems" tkExampleTitle tkToggleNavButton>
        <ng-template tkListItemTemplate let-item="item">
            <StackLayout orientation="vertical">
                <Label class="nameLabel" [text]="item.name"></Label>
                <Label class="descriptionLabel" [text]="item.description"></Label>
            </StackLayout>
        </ng-template>
        <ng-template tkListViewHeader>
            <GridLayout backgroundColor="#65a565">
                <Label text="This is the list header"></Label>
            </GridLayout>
        </ng-template>
        <ng-template tkListViewFooter>
            <GridLayout backgroundColor="#7fff7f">
                <Label text="This is the list footer"></Label>
            </GridLayout>
        </ng-template>
    </RadListView>
    <!-- << angular-listview-header-footer -->
</GridLayout>