RadListView {
    margin-right: -2;
}

.listItem-template-grid {
    background-color: white;
    margin-bottom: 2;
    margin-right: 2;
}

.labels-stack-layout {
    background-color: rgb(255, 255, 255, 0.7);
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
}

.menu-button {
    margin: 10;
}