<StackLayout tkExampleTitle tkToggleNavButton ios:backgroundColor="#CDCECE" padding="5">
    <Label text="Select country (tokens mode)"></Label>
    <RadAutoCompleteTextView #autoToken [items]="dataItems" suggestMode="Suggest" displayMode="Tokens" showCloseButton="true"
        closeButtonImageSrc="res://clear">
        <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
    <Label text="Select country (plain mode)"></Label>
    <RadAutoCompleteTextView #autoPlain [items]="dataItems" suggestMode="Suggest" displayMode="Plain" showCloseButton="true"
        closeButtonImageSrc="res://clear">
        <SuggestionView tkAutoCompleteSuggestionView suggestionViewHeight="300">
            <ng-template tkSuggestionItemTemplate let-item="item">
                <StackLayout orientation="vertical" padding="10">
                    <Label [text]="item.text"></Label>
                </StackLayout>
            </ng-template>
        </SuggestionView>
    </RadAutoCompleteTextView>
    <Label text="Read Only:" marginTop="5"></Label>
    <StackLayout orientation="horizontal">
        <Button margin="5" text="Set true" (tap)="onSetTrue($event)"></Button>
        <Button margin="5" text="Set false" (tap)="onSetFalse($event)"></Button>
    </StackLayout>
</StackLayout>