<!-- >> chart-angular-axes-customization -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <BarSeries tkCartesianSeries [items]="categoricalSource" categoryProperty="Country" valueProperty="Amount">
        <CategoricalAxis tkBarHorizontalAxis labelTextColor="#cb4b16" labelSize="10" lineThickness="3" lineColor="Red"></CategoricalAxis>
        <LinearAxis tkBarVerticalAxis labelTextColor="Green" lineColor="Blue" lineThickness="5" horizontalLocation="Right" lineHidden="false"></LinearAxis>
    </BarSeries>
</RadCartesianChart>
<!-- << chart-angular-axes-customization -->