<!-- >> angular-calendar-populating-with-data-html -->
<GridLayout rows="*, 100" orientation="vertical" tkExampleTitle tkToggleNavButton>
    <RadCalendar [eventSource]="eventSource" (dateSelected)="onDateSelected($event)" row="0"></RadCalendar>
    <RadListView [items]="myItems" row="1" >
        <ng-template let-item="item">
            <StackLayout class="listRow">
                <Label [text]="item.title"></Label>      
            </StackLayout>      
        </ng-template>
    </RadListView>
</GridLayout>
<!-- << angular-calendar-populating-with-data-html -->