<StackLayout tkExampleTitle tkToggleNavButton>
    <RadDataForm #myCustomValidationDataForm [source]="baseUser" validationMode="Manual" commitMode="Manual">
        <TKEntityProperty tkDataFormProperty name="username" index="0"></TKEntityProperty>
        <TKEntityProperty tkDataFormProperty name="password" index="1">
            <TKPropertyEditor tkEntityPropertyEditor type="Password"></TKPropertyEditor>
        </TKEntityProperty>
    </RadDataForm>
    <Label [text]="text" textWrap="true" margin="12" android:color="#C73339" ios:color="red" horizontalAlignment="center"></Label>
    <Button text="login" (tap)="onTap()" margin="12" horizontalAlignment="stretch"></Button>
</StackLayout>