<!-- >> chart-angular-ohlc-series -->
<RadCartesianChart tkExampleTitle tkToggleNavButton>
    <DateTimeCategoricalAxis tkCartesianHorizontalAxis dateFormat="yyyy-MM-dd" verticalLocation="Bottom"></DateTimeCategoricalAxis>
    <LinearAxis tkCartesianVerticalAxis></LinearAxis>

    <OhlcSeries tkCartesianSeries categoryProperty="Date" openPropertyName="Open" highPropertyName="High" lowPropertyName="Low" closePropertyName="Close"
        [items]="ohlcSourceItems"></OhlcSeries>
</RadCartesianChart>
<!-- << chart-angular-ohlc-series -->